#leftindex {
    background-color: #494949;
    background-image: url(/bilder/IndexPortrait.jpeg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
/*------------------------------------------media screens--------------------------------------*/
@media only screen and (orientation: portrait) {
 
    #leftindex {
        background-color: #494949;
        background-image: url(/bilder/IndexLandscape.jpeg);
        height: 30vh;
        width: 100vw;
    }
 
}