#leftwebdesign {
    background-color: #494949;
    background-image: url(/bilder/WebDesignPortrait.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
/*------------------------------------------media screens--------------------------------------*/
@media only screen and (orientation: portrait) {

    #leftwebdesign {
        background-color: #494949;
        background-image: url(/bilder/WebDesignLandscape.png);
        height:30vh;
        width:100vw;
  
    }
}